.header{

height:200px;
width:100%;
background-color:darkcyan;
font-family:bell MT;
font-size:45px;
color:white;
text-align:center;
padding-top:10px;
word-spacing:65px;
}
#margin
{

color:dodgerblue;
font-family:lucidia handwriting;
font-size:30px;
padding-left:100px;
text-decoration:none;
}


#margin:hover
{
color:darkcyan;
font-family:bell MT;
font-size:32px;
text-decoration:underline;
}

.hbtable
{

margin-left:575px;
margin-top:270px;
height:800px;
width:800px;
}
.text
{
background:rgba(255, 255, 255, 0.4);

position:absolute;
top:410px;
left:300px;
height:1100px;
width:70%;
}
.maincontent
{
font-family:ar cena;
font-size:60px;
font-style:bold;
color:white;
text-align:center;
padding-top:80px;
}
.bgcolor{
margin-top:20px;
margin-left:95px;
background-color:darkcyan;
height:1300px;
width:90%;
}
.footer{
background-color:darkcyan;
height:110px;
margin-left:10px;
width:98%;
border-color:black;
border-width:8px;
border-style:double;
}

#footerf
{

color:white;
font-family:bell MTs;
font-size:30px;
padding-left:220px;
padding-top:35px;
text-decoration:none;
}


#footerf:hover
{

font-family:bell MT;
font-size:32px;
text-decoration:underline;
}
.tableimage
{

margin-left:600px;

}
.image
{
height:110px;
width:140px;

}
.copy{
font-family:bell MT;
padding-left:500px;
font-size:30px;
}